
BorsaUygulama/Borsa/AliciIstekTbl.cs
BorsaUygulama/.vs/BorsaUygulama/v16/.suo
BorsaUygulama/.vs/BorsaUygulama/v16/.suo
BorsaUygulama/Borsa/obj/Debug/edmxResourcesToEmbed/Model1.csdl
BorsaUygulama/Borsa/obj/Debug/edmxResourcesToEmbed/Model1.msl
BorsaUygulama/Borsa/obj/Debug/edmxResourcesToEmbed/Model1.ssdl
BorsaUygulama/packages/EntityFramework.6.2.0/tools/migrate.exe
BorsaUygulama/packages/EntityFramework.6.2.0/tools/init.ps1
BorsaUygulama/packages/EntityFramework.6.2.0/tools/EntityFramework.psd1
BorsaUygulama/packages/EntityFramework.6.2.0/tools/install.ps1
BorsaUygulama/packages/EntityFramework.6.2.0/tools/EntityFramework.psm1
BorsaUygulama/packages/EntityFramework.6.2.0/tools/about_EntityFramework.help.txt
BorsaUygulama/packages/EntityFramework.6.2.0/EntityFramework.6.2.0.nupkg
BorsaUygulama/Borsa/Model1.tt
BorsaUygulama/Borsa/Model1.edmx
BorsaUygulama/Borsa/Model1.Context.tt
BorsaUygulama/Borsa/bin/Debug/EntityFramework.dll
BorsaUygulama/Borsa/bin/Debug/EntityFramework.SqlServer.dll
BorsaUygulama/Borsa/obj/Debug/TempPE/Model1.Context.cs.dll
BorsaUygulama/Borsa/obj/Debug/TempPE/Model1.cs.dll
BorsaUygulama/Borsa/obj/Debug/TempPE/Model1.Designer.cs.dll
BorsaUygulama/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.dll
BorsaUygulama/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.dll
BorsaUygulama/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.dll
BorsaUygulama/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.dll
BorsaUygulama/packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.dll
BorsaUygulama/packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.Utility.dll
BorsaUygulama/Borsa/AdminTbl.cs
BorsaUygulama/Borsa/bin/Debug/EntityFramework.SqlServer.xml
BorsaUygulama/Borsa/bin/Debug/EntityFramework.xml
BorsaUygulama/Borsa/KullaniciTbl.cs
BorsaUygulama/Borsa/Model1.Context.cs
BorsaUygulama/Borsa/Model1.cs
BorsaUygulama/Borsa/Model1.Designer.cs
BorsaUygulama/Borsa/Model1.edmx.diagram
BorsaUygulama/Borsa/obj/Debug/Borsa.pdb
BorsaUygulama/Borsa/OnayTbl.cs
BorsaUygulama/Borsa/SatistakiUrunTbl.cs
BorsaUygulama/packages/EntityFramework.6.2.0/Content/net40/App.config.transform
BorsaUygulama/packages/EntityFramework.6.2.0/Content/net40/Web.config.transform
BorsaUygulama/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.xml
BorsaUygulama/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.xml
BorsaUygulama/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.xml
BorsaUygulama/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.xml
BorsaUygulama/Borsa/sysdiagrams.cs
BorsaUygulama/packages/EntityFramework.6.2.0/.signature.p7s
BorsaUygulama/Borsa/App.config
BorsaUygulama/Borsa/bin/Debug/Borsa.pdb
BorsaUygulama/Borsa/VeriTabani.Context.cs
BorsaUygulama/Borsa/VeriTabani.Context.cs
BorsaUygulama/Borsa/VeriTabani.Context.cs
BorsaUygulama/Borsa/VeriTabani.Context.cs
BorsaUygulama/Borsa/VeriTabani.Context.tt
BorsaUygulama/Borsa/VeriTabani.cs
BorsaUygulama/Borsa/VeriTabani.Designer.cs
BorsaUygulama/Borsa/VeriTabani.edmx
BorsaUygulama/Borsa/VeriTabani.edmx.diagram
BorsaUygulama/Borsa/VeriTabani.tt
